
<suite name="Test Suite">
    <test name="Test Execution">
        <classes>
            <class name="testcases.HomePageTest"/>
            <class name="testcases.SignUpTest"/>
            <class name ="testcases.LoginTest"/>
            <class name ="testcases.Invalid_TestCases"/>
            <class name="testcases.HomePageLinksTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

</suite>
